In [2]:
import pandas as pd
import os

In [5]:
csd = os.getcwd()
print(csd)

/home/francesco/shared_files/python_notebooks/SD_for_HSS/Cycle-Data

In [4]:
os.chdir('/home/francesco/shared_files/python_notebooks/SD_for_HSS/Cycle-Data')

In [6]:
tt = pd.read_csv('./data/slave-voyages_trans-atlantic-db.csv')

/tmp/ipykernel_782625/1517873420.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  tt = pd.read_csv('./data/slave-voyages_trans-atlantic-db.csv')

In [7]:
tt.head()

,Captain's name,Crew deaths during voyage,Crew at first landing of captives,Crew at voyage outset,Date vessel departed with captives,Date vessel departed for homeport,Display in compact mode,Date vessel arrived with captives,First place where captives were landed,First place where captives were purchased,...,Voyage ID,Year constructed,Voyage itinerary imputed port where began (ptdepimp) place,Voyage itinerary imputed principal place of slave purchase (mjbyptimp),Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place,Voyage links,Voyage ship place where vessel constructed,Voyage itinerary first place of slave purchase (plac1tra),Voyage itinerary first place of slave landing (sla1port),Voyage ship place where vessel registered
0,"Velde, Daniel ter",NaN,NaN,54.0,1732-09-03T00:00:00Z,1733-04-24T00:00:00Z,NaN,1732-11-18T00:00:00Z,NaN,NaN,...,10353,NaN,Texel,Elmina,"Suriname, place unspecified",NaN,NaN,Elmina,"Suriname, place unspecified",NaN
1,"Hoeven, Jan van der<br/> Wenman, Roelof",NaN,NaN,23.0,1706-09-09T00:00:00Z,NaN,NaN,1706-11-30T00:00:00Z,NaN,NaN,...,10354,NaN,Hellevoetsluis,Elmina,Curaçao,NaN,NaN,Elmina,Curaçao,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10355,NaN,NaN,Ardra,NaN,NaN,NaN,Ardra,NaN,NaN
3,"Scheij, Pieter",NaN,NaN,NaN,NaN,1688-01-01T00:00:00Z,NaN,1688-01-01T00:00:00Z,NaN,NaN,...,10356,NaN,Texel,"Gold Coast, port unspecified",Curaçao,NaN,NaN,NaN,Curaçao,NaN
4,"Stoop, Pieter<br/> Crans, Pieter",NaN,NaN,NaN,1700-12-15T00:00:00Z,1701-01-01T00:00:00Z,NaN,1701-06-23T00:00:00Z,NaN,NaN,...,10357,NaN,Hellevoetsluis,"Whydah, Ouidah",Curaçao,NaN,NaN,"Whydah, Ouidah",Curaçao,NaN